body{padding: 0; margin: 0;}
div, li{box-shadow: 0 0 1px #ddd;}

.abs-center{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ipt{}


html{font-size: 10px;}
body{font-size: 1.8rem;}
#rooms, #shaft-wrapper, #day-time-selector{display: none;}

#rooms{display: flex; text-align: center;}
.room{
    flex-basis: 100px; flex-grow: 1; height: 100px; line-height: 100px; font-size: 3rem; font-weight: bold; cursor: pointer;
    &.active{background-color: tomato;}
}

#menu{
    position: absolute; width: 200px;

    .menu-item{
        height: 60px;
        line-height: 60px;
        text-align: center;
        cursor: pointer
    }
}

#shaft-wrapper{width: 800px; min-height: 200px; background-color: #fff;}

.day-shaft{
    height: 60px; position: relative; cursor: pointer;
    .ordered{
        position: absolute;
        background-color: #666;
        min-width: 2px;
        height: 60px;
        text-align: center;
        color: #fff;

        .btn{.abs-center}
    }

    label{
        position: absolute;
        left: -60px;
        top: 18px;
        font-weight: bold;
    }
}

#day-time-selector{
    position: absolute; height: 60px; min-width: 10px; display: none; background-color: #ccc;
    .handler{
        position: absolute; width: 20px; height: 20px; box-sizing: border-box; top: 50%; margin-top: -10px; background-color: #333; cursor: e-resize; line-height: 20px; text-align: center; color: #fff;
        i{position: relative; top: -40px; left: -10px; font-style: normal; color: #000;}
    }
    .starter{
        left: -10px;
    }
    .ender{
        right: -10px;
    }

    #order-btn{.abs-center}
}

// 注册 登录

#regist-panel, #login-panel{display: none;}