body {
  padding: 0;
  margin: 0;
}
div,
li {
  /* box-shadow: 0 0 1px #ddd; */
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  /*ios，如果不行可以加一个透明遮罩层*/
  -webkit-touch-callout: none;
  touch-callout: none;
  /*安卓*/
  -webkit-user-select: none;
  user-select: none;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 1.8rem;
}
form {
  padding: 40px;
  background-color: #eee;
}
input {
  min-height: 30px;
  border: 1px solid #aaa;
}
#rooms,
#shaft-wrapper,
#day-time-selector {
  display: none;
}
#rooms {
  display: flex;
  text-align: center;
}
.room {
  position: relative;
  flex-basis: 100px;
  flex-grow: 1;
  height: 100px;
  line-height: 100px;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.room.active {
  background-color: tomato;
  color: #fff;
}
.room .btns {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: initial;
  border-width: 0;
}
#menu {
  position: absolute;
  width: 200px;
}
#menu .menu-item {
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
#shaft-wrapper {
  width: 60%;
  min-height: 200px;
  background-color: #fff;
}
.day-shaft {
  height: 60px;
  position: relative;
  cursor: pointer;
}
.day-shaft .ordered {
  position: absolute;
  background-color: #666;
  min-width: 2px;
  height: 60px;
  text-align: center;
  color: #fff;
}
.day-shaft .ordered .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.day-shaft label {
  position: absolute;
  left: -60px;
  top: 18px;
  font-weight: bold;
}
#day-time-selector {
  position: absolute;
  height: 60px;
  min-width: 10px;
  display: none;
  background-color: #ccc;
}
#day-time-selector .handler {
  position: absolute;
  width: 4rem;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  background-color: #333;
  cursor: e-resize;
  text-align: center;
  color: #fff;
  touch-action: none;
}
#day-time-selector .handler i {
  position: relative;
  top: -100px;
  left: -2px;
  font-style: normal;
  color: #000;
}
#day-time-selector .starter {
  left: -2rem;
}
#day-time-selector .ender {
  right: -2rem;
}
#day-time-selector #order-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#regist-panel,
#login-panel {
  display: none;
}
#room-panel {
  display: none;
}
#room-add-wrapper {
  display: none;
  text-align: center;
}
